
.profile {
  //text-transform: uppercase;
  background-color: $colour-profile-background;
  // margin-top: 150px;
  @include media-breakpoint-up(lg) {
    position: fixed;
    height: 100%;
    width: $profile-width-md;
    top: 0;
    left: 0;
  }
}

.profile__image {
  display: none;
  width: 130px;
  border-radius: 50%;
  border: 5px solid #ebebeb;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, .9);
}
.profile__title {
  //text-transform: uppercase;
  font-size: 40px;
  font-weight: 100;
}
.profile__subtitle {
  //text-transform: uppercase;
  font-weight: 900;
  font-size: 40px;
  line-height: 1.1;
}
.profile__statement p {
  font-weight: 300;
  font-size: 20px;
  text-transform: none;

}
.profile__channels {}
