
.profile {
  //text-transform: uppercase;
}
.profile__image {
  width: 130px;
  border-radius: 50%;
  border: 5px solid #ebebeb;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, .9);
}
.profile__title {
  //text-transform: uppercase;
  font-weight: 600;
}
.profile__subtitle {
  //text-transform: uppercase;
  font-weight: 300;
}
.profile__statement p {
  font-weight: 300;
  text-transform: none;
}
.profile__channe4ls {}
