
.profile {}
.profile__image {
  width: 130px;
  border-radius: 50%;
  border: 3px solid #ebebeb;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, .9);
}
.profile__title {}
.profile__subtitle {}
.profile__statement {}
.profile__channels {}
