.work {
  opacity: .9;
  background-color: $colour-work-background;
  text-align: center;
  // border-top: 10px $colour-font-main solid;
  color: $colour-font-work;
  @include media-breakpoint-up(lg) {
    position: absolute;
    width: $work-width-md;
    top: 0;
    right: 0;
  }
}

.work__heading {
  font-weight: 100;
  display: none;
}

.projects {
  text-align: left;
  width: 80%;
  display: inline-block;
  margin: 10% 0;
}

.project {
  // margin-top: 30px;
}

.project__title {
  font-weight: 900;
  text-transform: uppercase;
  color: $colour-font-work-title;
}

.project__client {
  font-weight: 500;
  color: $colour-font-work-client;
}
a.project__link {
  // color: $colour-font-work;
}
.project__description {
  text-transform: none;
  // margin: 2.5% 0 10% 5%;
  color: $colour-font-work-desc;
  //display: none;
}
