.work {
  //opacity: .9;
  background-color: $colour-work-background;
  text-align: center;
  // border-left: 10px white solid;
  color: $colour-font-work;

  @include media-breakpoint-up(lg) {

    position: absolute;
    width: $work-width-md;
    top: 0;
    right: 0;

    &:before {
      background-color: white;
      content: "";
      position: fixed;
      top: 0;
      right: -10%;
      width: 45%;
      height: 110%;
      transform: skew(-3deg);
    }

  }
}

.work__heading {
  font-weight: 100;
  display: none;
}

.projects {
  text-align: left;
  width: 100%;
  display: inline-block;
  margin: 10% 0  ;
}

.project {
  // margin-top: 30px;
  padding: 10% 20% 0 5%;
  &:first-child {
    padding-top: 0;
  }
}

.project__title {
  font-weight: 900;
  text-transform: uppercase;
  color: $colour-font-work-title;
}

.project__client {
  font-weight: 500;
  color: $colour-font-work-client;
}
a.project__link {
  // color: $colour-font-work;
  &:after {
    display: none;
  }
}
.project__description {
  text-transform: none;
  margin: 0;
  // margin: 2.5% 0 10% 5%;
  color: $colour-font-work-desc;
  display: none;
  @include media-breakpoint-up(sm) {
    display: inline-block;
  }
}
