.work {
  background-color: $colour-work-background;
  // border-top: 10px $colour-font-main solid;
  * {
    color: $colour-font-work;
  }

  @include media-breakpoint-up(lg) {
    position: absolute;
    width: $work-width-md;
    top: 0;
    right: 0;
  }
}

.work__heading {
  font-weight: 100;
  display: none;
}

.projects {}
.project {
  // margin-top: 30px;
}

.project__title {
  font-weight: 900;
  text-transform: uppercase;
  color: $colour-font-work-title;
}

.project__client {
  font-weight: 500;
  color: $colour-font-work-client;
}
a.project__link {
  // color: $colour-font-work;
}
.project__description {
  text-transform: none;
  //margin: 10px 0 0 20px;
  color: $colour-font-work-desc;
  //display: none;
}
